#participant_table{
    text-align: center;

    z-index: 1;
	width: 100%;
	border-collapse:separate;
	border-spacing: 0;
	margin-top: 40px;
}
.cp_navi {
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888888;
	display: block;
	margin: 1em 1%;
	overflow: hidden;
	width: 100%;
    z-index: 9980;

}
.cp_navi ul {
	margin: 0;
	padding: 0;
}
.cp_navi ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	        transition: all 0.2s;
}
.cp_navi > ul > li > a > .caret {
	border-top: 4px solid #aaaaaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	        transition: color 0.1s linear;
}
.cp_navi > ul > li > a {
	color: #aaaaaa;
	display: block;
	line-height: 56px;
	padding: 0 10px;
	text-decoration: none;
}
.cp_navi > ul > li:hover {
	background-color: rgb(111, 155, 206);
}
.cp_navi > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li > div {
	background-color: rgb(111, 155, 206);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
    position: absolute;
	width: 165px;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	       transition: opacity 0.2s;
}
.cp_navi > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
.cp_navi > ul > li > div ul > li {
	display: block;
}
.cp_navi > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}
.cp_navi > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}

#left{
    float: left;
    position: absolute;
    top: 90px;
    left: 50px;
}
#right{
    float: right;
    position: absolute;
    top: 90px;
    right: 50px;
}
#right > textarea{
    resize: vertical;
  width:600px;
  height:400px;
}
.button{
    margin-left: 700px;
	margin-top: 100px;
}
#left_table{
    width: 100%;
    height: 500px;
}
#left >p > input{
	margin: 20px;
}



  #participant_table th:first-child{
	border-radius: 5px 0 0 0;
  }
  
  #participant_table th:last-child{
	border-radius: 0 5px 0 0;
	border-right: 1px solid #3c6690;
  }
  

  
  #participant_table td:last-child{
	border-right: 1px solid #a8b7c5;
  }
  
  #participant_table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
  }
  
  #participant_table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
  }
  #participant_table th{
	  background-color: rgb(147, 188, 241);
  }
  .test_li li{
	  margin-top: 20px;
  }

  #details_table{
    float: left;
    position: absolute;
    top: 120px;
    left: 50px;
}
#right_memo{
    float: right;
    position: absolute;
    top: 80px;
    right: 50px;
}
#right_memo > textarea{
    resize: vertical;
  width:600px;
  height:550px;
}
h1{
	border-bottom: dotted 2px #87CEFA;
}
#details td{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}




#details{
	width: 100%;
	border-collapse:separate;
	border-spacing: 0;
}
#details th:first-child{
	border-radius: 5px 0 0 0;
  }
  
  #details th:last-child{
	border-radius: 0 5px 0 0;
	border-right: 1px solid #3c6690;
  }
  

  
  #details td:last-child{
	border-right: 1px solid #a8b7c5;
  }
  
  #details tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
  }
  
  #details tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
  }
  #details th{
	  background-color: rgb(147, 188, 241);
  }


  .button_1,
  a.button_1 {
	color: #fff;
	background-color: #eb6100;
  }
  .button_1:hover,
  a.button_1:hover {
	color: #fff;
	background: #f56500;
  }
  
  a.button_1 {
	 border-radius: 100vh;
}
  .bottom_button{
	margin-left: 700px;
	margin-top: 170px;
	margin-bottom: 50px;
  }
  .button_1{
	  padding-left: 40px;
	  padding-right: 40px;
	  padding-top: 15px;
	  padding-bottom: 15px;
  }
  .form_r{
	  border: black;
  }

  #search{
	border: 1px solid #a8b7c5;
	margin: 1em 1%;
  }
  #search>form>input{
	  margin-left: 10px;
	  margin-top: 15px;
  }
  #search>form>select{
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
  }
  .add_button{
	display: inline-block;
	  margin-left: 10px;
	  margin-top: 10px;
  }
  .remove{
	  display: none;
  }